body {
  background-color: #f5ececc9;
  background-image: url("makeup.jpg");
  background-repeat: repeat-x;
  background-position: center bottom;
  background-size: contain;
}
#title {
  text-align: center;
  font-family: "Montserrat Subrayada";
  line-height: 200px;
}
#shopall {
  font-size: small;
  padding: 10px;
  text-align: center;
  border-style: double;
  border-color: gray;
  border-width: 2px;
  width: 150px; /* Adjusted width for clarity */
  cursor: pointer;
  position: relative; /* Use relative positioning */
  left: calc(36% - 100px); /* Position the button towards the right */
}
#policy {
  font-size: medium;
  text-align: center;
  padding-right: 255px;
  text-size-adjust: 25px;
}
